<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <p>
        <%= image_tag @user.image.variant(resize: "150x150") if @user.image.attached? %>
      </p>
        <%= @user.name %>
        <%= @user.comment %>
    </section>
  </aside>
</div>